*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #026C7C;
    text-align: center;
}
   
   .container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   }
   .box {
    height: 18vh;
    width: 18vh;
    border-radius: 1vmin;
    box-shadow: 0.8vmin;
    font-size: 10vmin;
    color: crimson;
   }
   #rst-btn
   {
    padding: 0.9rem;
    
    background-color: black;
    font-size: 1cm;
    color: antiquewhite;
    border-radius: 0.1cm;
    border: none;
   }
   