*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #026C7C;
    text-align: center;
}
   
   .container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   }
   .box {
    height: 18vh;
    width: 18vh;
    border-radius: 1vmin;
    box-shadow: 0.8vmin;
    font-size: 10vmin;
    color: crimson;
    background-color: bisque;
    color: brown;
   }
   #reset-btn
   {
    margin-top: 0.2vmin;
    padding: 0.4rem;  
    background-color: black;
    font-size: 0.8cm;
    color: antiquewhite;
    border-radius: 0.1cm;
    border: none;
   }
   #new-btn
   {
    padding: 0.1rem;  
    background-color: black;
    font-size: 0.8cm;
    color: antiquewhite;
    border-radius: 0.1cm;
    border: none;
   }
   #msg
   {
    color: bisque;
    font-size: 5vmin;
   }
   .msg-container
   {
    margin-bottom: 6vmin;
   }
   .hide
   {
    display : none;
   }